body{
    overflow-x: hidden;
}
.ingresa,.newuserh1{
    margin-top: 5%;
    margin-bottom: 0;
    font-size: 4.5rem;
    text-align: center;
}


form{
    display: flex;
    width: 30%;
    height: 30vh;
    margin: 5% auto;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: #f4f5f0;
    box-shadow:0 1px 1px 0 rgba(60,64,67,.08),0 1px 1px 1px rgba(60,64,67,.16)

}
input{
    width: 60%;
    height: 5vh;
    font-size: 1.2rem;
    text-align: center;
    margin: 1%;
    border:1px solid rgb(0, 0, 0,.1);
    box-shadow:0 1px 1px 0 rgba(60,64,67,.08),0 1px 1px 1px rgba(60,64,67,.16)
}

input[type="submit"]{
    margin-top: 2%;
    background-color: turquoise;
    width: 30%;
}