.galleryTwoParts{
    box-sizing:border-box;
    width: 98vw;
    margin: 0 auto;
    padding:1%;
    z-index: -10000;
    height: 80vh;
    display: block;

}

.galleryContainer{
    margin-top: -50%;
    margin-left: 17%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 85%;
    box-sizing:border-box;
}