*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f4f5f0;
    color:rgba(0, 0, 0, 0.87);
}

h1{
    font-family:Tajawal ;
}
a{
    font-family: Rubik;
}
p, span{
    font-family:Dosis ;
}

.navContainer{
    margin: 0;
    padding: 0;

}
nav{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

ul{
    display: flex;

    height: 6.5vh;
    width: 50vw;
    justify-content: flex-end;
    align-items: center;
}
li{
    margin: 2%;
    list-style: none;
    height: 90%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    color:rgba(0, 0, 0, 0.87);
    text-decoration: none;
    font-size: 2rem;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s;
    border-radius: 10px;
    margin-top: 10%;

}
a:hover{
    background-color:rgba(48, 24, 48, .4);
}