.sectionnewproject{
    background-color:turquoise;
}

h1{
    text-align: center;
}

#newProject{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#wiUpload{
    height: 60%;
    width: 40%;
}

